.accountGrid{
    display: grid;
    max-width: 600px;
    margin: 0 auto;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-areas:
        'header header header'
        'part1 part1 part1'
        'part2 part22 part222'
        'part3 part33 part333'
        'part4 part44 part444'
        'part5 part5 part5'
        'part6 part6 part6';
}
.logo{
    grid-area: header;
    justify-self: center;
    background-color: #fcfad4;
}
.title{
    grid-area: part1;
    justify-self: center;
}
.username{
    grid-area: part22;
    justify-self: center;
    align-self: start;
}
.usernameInput{
    grid-area: part22;
    justify-self: center;
    align-self: center;
    height: 30px;
    width: 200px;
    font-family: Century Gothic;
}
.password{
    grid-area: part22;
    justify-self: center;
    align-self: end;
}
.passwordInput{
    grid-area: part33;
    justify-self: center;
    align-self: start;
    height: 30px;
    width: 200px;
    font-family: Century Gothic;
}
.wrongLogIn{
    grid-area: part5;
    justify-self: center;
    align-self: start;
    color: darkred;
}
.logInButton{
    grid-area: part44;
    justify-self: center;
    align-self: start;
    font-size: 25px;
    padding: 0;
    border: none;
    background: none;
    font-family: Century Gothic;
    cursor: pointer;
}
.noAccount{
    grid-area: part5;
    justify-self: center;
    align-self: center;
    font-size: 20px;
}
.createAccoutButton{
    font-size: 20px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.wrongInput{
    grid-area: part1;
    justify-self: center;
    align-self: end;
    color: darkred;
}
.yourName{
    grid-area: part2;
    justify-self: end;
    align-self: start;
}
.nameInput{
    grid-area: part22;
    justify-self: center;
    align-self: start;
    height: 30px;
    width: 190px;
    font-family: Century Gothic;
}
.lastNameInput{
    grid-area: part22;
    justify-self: center;
    align-self: center;
    height: 30px;
    width: 190px;
    font-family: Century Gothic;
}
.username2{
    grid-area: part3;
    justify-self: end;
    align-self: start;
}
.createUsernameInput{
    grid-area: part33;
    justify-self: center;
    align-self: start;
    height: 30px;
    width: 190px;
    font-family: Century Gothic;
}
.createPassword{
    grid-area: part3;
    justify-self: end;
    align-self: end;
}
.createPassword1Input{
    grid-area: part33;
    justify-self: center;
    align-self: end;
    height: 30px;
    width: 190px;
    font-family: Century Gothic;
}
.createPassword2Input{
    grid-area: part44;
    justify-self: center;
    align-self: start;
    height: 30px;
    width: 190px;
    font-family: Century Gothic;
}
.wrongLogIn2{
    grid-area: part5;
    justify-self: center;
    align-self: start;
    color: darkred;
}
.buttonCreateAccount{
    grid-area: part5;
    justify-self: center;
    align-self: center;
    font-size: 25px;
    padding: 0;
    border: none;
    background: none;
    font-family: Century Gothic;
    cursor: pointer;
}