.payToFlex{
    grid-area: food;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.button{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
