body{
    background-color: #fcfad4;
    font-family: Century Gothic;
}
.container{
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 150px 300px 300px 200px;
    grid-template-rows: 120px 200px 70px 140px 100px;
    grid-template-areas:
        'ikon headline headline infoside'
        'meny section1 section1 topright'
        'meny section2 section2 last'
        'meny section3 section4 last'
        'meny section3 section4 last';
}
.icon{
    grid-area: ikon;
}
.titleMainSite{
    grid-area: headline;
    align-self: end;
    justify-self: start;
    margin-left: 50px;
    font-size: 50px;
    color: #054269;
}
.welcomeTitle{
    grid-area: infoside;
    align-self: center;
    justify-self: start;
    color: #054269;
}
.nameTag{
    grid-area: infoside;
    align-self: end;
    justify-self: start;
    font-size: 25px;
    color: #054269;
}
.logOutButton{
    font-size: 15px;
    padding: 0;
    border: none;
    background: none;
    font-family: Century Gothic;
    color: #054269;
    cursor: pointer;
    padding-bottom: 6px;
}
.mainViewImage{
    grid-area: infoside;
    align-self: start;
    justify-self: end;
    display: flex;
    flex-direction: column;
}
.menuButton{
    font-size: 15px;
    padding: 0;
    border: none;
    background: none;
    font-family: Century Gothic;
    color: #054269;
    margin-top: 30px;
    cursor: pointer;
}

.meny{
    grid-area: meny;
    color: #054269;
}

.warning{
    color: brown;
    font-size: 15px;
}






.dropbtn {
    font-size: 20px;
    padding: 0;
    background: none;
    font-family: Century Gothic;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    grid-area: section1;
    background-color: whitesmoke;
    border-right: 1px solid rgb(170, 159, 159);
    border-top: 1px solid rgb(170, 159, 159);
    border-left: 1px solid rgb(170, 159, 159);
    padding-left: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding-left: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-content a:hover {background-color: #ddd;}
.show {display:block;}






.dropbtn2 {
    font-size: 20px;
    padding: 0;
    background: none;
    font-family: Century Gothic;
    border: none;
    cursor: pointer;
}
.dropdown2 {
    position: relative;
    grid-area: section1;
    padding-top: 5px;
    padding-bottom: 15px;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding-left: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-content2 a:hover {background-color: #ddd;}
.show2 {display:block;}