body{
    background-color: #fcfad4;
    font-family: Century Gothic;
}
.container{
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 150px 300px 300px 200px;
    grid-template-rows: 120px 200px 70px 140px 100px;
    grid-template-areas:
        'ikon headline headline infoside'
        'meny section1 section1 topright'
        'meny section2 section2 last'
        'meny section3 section4 last'
        'meny section3 section4 last';
}
.icon{
    grid-area: ikon;
}
.titleMainSite{
    grid-area: headline;
    align-self: end;
    justify-self: start;
    margin-left: 50px;
    font-size: 50px;
    color: #054269;
}
.welcomeTitle{
    grid-area: infoside;
    align-self: center;
    justify-self: start;
    color: #054269;
}
.nameTag{
    grid-area: infoside;
    align-self: end;
    justify-self: start;
    font-size: 25px;
    color: #054269;
}
.logOutButton{
    grid-area: infoside;
    align-self: start;
    justify-self: end;
    font-size: 20px;
    padding: 0;
    border: none;
    background: none;
    font-family: Century Gothic;
    color: #054269;
    cursor: pointer;
}
.menuButton{
    font-size: 15px;
    padding: 0;
    border: none;
    background: none;
    font-family: Century Gothic;
    color: #054269;
    margin-top: 30px;
    cursor: pointer;
}

.meny{
    grid-area: meny;
    color: #054269;
}


.mineKontoerGrid{
    grid-area: section1;
    background-color: whitesmoke;
    border: 1px solid rgb(170, 159, 159);
    padding-left: 10px;
    display: grid;
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: 40px 40px 25px;
    grid-template-areas:
        'head head head'
        'top1 top2 top3'
        'konto konto konto';
}
.kontoTittel{
    grid-area: head;
}
.accountNameTitle{
    grid-area: top1;
}
.accountSumTitle{
    grid-area: top2;
}
.accountDateTitle{
    grid-area: top3;
}
.kontoMainGrid{
    grid-column-start: konto;
    display: grid;
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: 25px;
    grid-template-areas:
        'name sum date'; 
}
.accountName{
    grid-area: name;
}
.accountSum{
    grid-area: sum;
}
.accountDate{
    grid-area: date;
}







.midTitle{
    grid-area: section2;
    justify-self: start;
    align-self: center;
}
.seeAllTransactions{
    grid-area: section2;
    justify-self: end;
    align-self: center;
    font-size: 20px;
    padding: 0;
    border: none;
    background: none;
    font-family: Century Gothic;
    cursor: pointer;
}


.uttakTitleGrid{
    grid-area: section3;
    background-color: whitesmoke;
    border: 1px solid rgb(170, 159, 159);
    padding-left: 10px;
    display: grid;
    grid-template-columns: 100px 80px 80px;
    grid-template-rows: 50px 30px auto;
    grid-template-areas:
        'title title title'
        'name1 sum1 date1'
        'uttak uttak uttak'; 
}
.uttakNameTitle{
    grid-area: name1;
}
.uttakSumTitle{
    grid-area: sum1;
}
.uttakDateTitle{
    grid-area: date1;
}
.uttakGrid{
    grid-column-start: uttak;
    display: grid;
    grid-template-columns: 100px 80px 80px;
    grid-template-rows: 30px;
    grid-template-areas:
        'name sum date';
}
.uttakName{
    grid-area: name;
}
.uttakSum{
    grid-area: sum;
}
.uttakDate{
    grid-area: date;
}


.lastSection2{
    grid-area: section4;
    background-color: whitesmoke;
    border: 1px solid rgb(170, 159, 159);
    padding-left: 10px;
    display: grid;
    grid-template-columns: 100px 80px 80px;
    grid-template-rows: 50px 30px auto;
    grid-template-areas:
        'title title title'
        'name1 sum1 date1'
        'innskudd innskudd innskudd';
}
.innskuddTitle{
    grid-area: title;
}
.inskuddNameTitle{
    grid-area: name1;
}
.inskuddSumTitle{
    grid-area: sum1;
}
.inskuddDateTitle{
    grid-area: date1;
}
.innskuddGrid{
    grid-column-start: innskudd;
    display: grid;
    grid-template-columns: 100px 80px 80px;
    grid-template-rows: 30px;
    grid-template-areas:
        'name sum date';
}
.innskuddName{
    grid-area: name;
}
.innskuddSum{
    grid-area: sum;
}
.innskuddDate{
    grid-area: date;
}


.samletOversiktGrid{
    grid-area: topright;
    background-color: whitesmoke;
    border: 1px solid rgb(170, 159, 159);
    padding-left: 10px;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 25px auto;
    grid-template-areas:
        'title title'
        'name1 sum1'
        'overview overview';
}
.alleKontoerButton{
    grid-area: title;
    font-size: 15px;
    justify-self: center;
    padding: 0;
    border: none;
    background: none;
    font-family: Century Gothic;
    cursor: pointer;
}
.uttakTittle{
    grid-area: title;
    justify-self: start;
    align-self: center;
}
.kontoerName1{
    grid-area: name1;
}
.mainsiteOverviewGrid{
    grid-column-start: overview;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 25px;
    grid-template-areas:
        'name sum';
}
.kontoerSum1{
    grid-area: sum;
}
.kontoerName{
    grid-area: name;
}

.lastRight{
    grid-area: last;
    background-color: whitesmoke;
}



.accountGrid{
    display: grid;
    max-width: 600px;
    margin: 0 auto;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-areas:
        'header header header'
        'part1 part1 part1'
        'part2 part22 part222'
        'part3 part33 part333'
        'part4 part44 part444'
        'part5 part5 part5'
        'part6 part6 part6';
}
.logo{
    grid-area: header;
    justify-self: center;
    background-color: #fcfad4;
}
.title{
    grid-area: part1;
    justify-self: center;
}
.username{
    grid-area: part22;
    justify-self: center;
    align-self: start;
}
.usernameInput{
    grid-area: part22;
    justify-self: center;
    align-self: center;
    height: 30px;
    width: 200px;
    font-family: Century Gothic;
}
.password{
    grid-area: part22;
    justify-self: center;
    align-self: end;
}
.passwordInput{
    grid-area: part33;
    justify-self: center;
    align-self: start;
    height: 30px;
    width: 200px;
    font-family: Century Gothic;
}
.wrongLogIn{
    grid-area: part5;
    justify-self: center;
    align-self: start;
    color: darkred;
}
.logInButton{
    grid-area: part44;
    justify-self: center;
    align-self: start;
    font-size: 25px;
    padding: 0;
    border: none;
    background: none;
    font-family: Century Gothic;
    cursor: pointer;
}
.noAccount{
    grid-area: part5;
    justify-self: center;
    align-self: center;
    font-size: 20px;
}
.createAccoutButton{
    font-size: 20px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.wrongInput{
    grid-area: part1;
    justify-self: center;
    align-self: end;
    color: darkred;
}
.yourName{
    grid-area: part2;
    justify-self: end;
    align-self: start;
}
.nameInput{
    grid-area: part22;
    justify-self: center;
    align-self: start;
    height: 30px;
    width: 190px;
    font-family: Century Gothic;
}
.lastNameInput{
    grid-area: part22;
    justify-self: center;
    align-self: center;
    height: 30px;
    width: 190px;
    font-family: Century Gothic;
}
.username2{
    grid-area: part3;
    justify-self: end;
    align-self: start;
}
.createUsernameInput{
    grid-area: part33;
    justify-self: center;
    align-self: start;
    height: 30px;
    width: 190px;
    font-family: Century Gothic;
}
.createPassword{
    grid-area: part3;
    justify-self: end;
    align-self: end;
}
.createPassword1Input{
    grid-area: part33;
    justify-self: center;
    align-self: end;
    height: 30px;
    width: 190px;
    font-family: Century Gothic;
}
.createPassword2Input{
    grid-area: part44;
    justify-self: center;
    align-self: start;
    height: 30px;
    width: 190px;
    font-family: Century Gothic;
}
.wrongLogIn2{
    grid-area: part5;
    justify-self: center;
    align-self: start;
    color: darkred;
}
.buttonCreateAccount{
    grid-area: part5;
    justify-self: center;
    align-self: center;
    font-size: 25px;
    padding: 0;
    border: none;
    background: none;
    font-family: Century Gothic;
    cursor: pointer;
}

.overviewGridTop{
    grid-area: section1;
    background-color: whitesmoke;
    border: 1px solid rgb(170, 159, 159);
    padding-left: 10px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 50px auto;
    grid-template-areas:
        'title1 title2 title3'
        'food food food';
}



.dropbtn {
    font-size: 20px;
    padding: 0;
    background: none;
    font-family: Century Gothic;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    grid-area: section1;
    background-color: whitesmoke;
    border: 1px solid rgb(170, 159, 159);
    padding-left: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding-left: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-content a:hover {background-color: #ddd;}
.show {display:block;}






.dropbtn2 {
    font-size: 20px;
    padding: 0;
    background: none;
    font-family: Century Gothic;
    border: none;
    cursor: pointer;
}
.dropdown2 {
    position: relative;
    grid-area: section1;
    background-color: whitesmoke;
    border: 1px solid rgb(170, 159, 159);
    padding-left: 10px;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding-left: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-content2 a:hover {background-color: #ddd;}
.show2 {display:block;}